{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<h2 class="text-center">Rólunk</h2>
<hr>
<h2 class="display-2">Mi az a társasjáték?</h2>
<p>A társasjáték jellemzően beltéri, két vagy több személy által játszott játék, amelyben a részt vevő játékosok az
    adott játék szabályainak betartásával valamilyen cél elérésére törekednek, rendszerint egymással versenyezve.</p>
<h2 class="display-2">A társasjátékokról</h2>
<p>A társasjátékoknak több nagyobb csoportja van. Lehet kártyajáték, táblajáték stb. A története jóval az időszámitásunk
    előtt kezdődött, és kisebb nagyobb változásokkal a mai napig jelen van a mindennapokban.</p>
<h2 class="display-2">Mit lehet itt csinálni?</h2>
<p>Ha szeretnél egy kicsit szórakozni, akkor itt mindig találhatsz magadnak valami elfoglaltságot a folyamatosan bővülő
    játék kínálatunkból, s ha esetleg társaságot keresel, akkor itt biztosan akad, akinek megegyezik az érdeklődési köre
    a tiéddel.</p>
{% endblock %}
